<div class="gallery-card">
  {%- if block.settings.bg_image != blank -%}
    <img
      src="{{ block.settings.bg_image | image_url: width: 710 }}"
      loading="lazy"
      width="{{ block.settings.bg_image.width }}"
      height="{{ block.settings.bg_image.height }}"
      alt="{{ block.settings.bg_image.alt | escape }}"
    >
  {%- else -%}
    {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg-gray ' }}
  {%- endif -%}
</div>
{% schema %}
{
  "name": "Item",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Image"
    }
  ],
  "presets": [{ "name": "Item" }]
}
{% endschema %}
