{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="oharchitecture process_home_wrap u-grid-tablet section-{{ section.id }}-padding">
  <div id="w-node-_33904072-3145-f0bb-530d-f3954b958a83-5ee71fd0" class="process_left_wrap">
    <div data-wf--global-eyebrow--variant="base" class="g_eyebrow u-text-small">(Our Process)</div>
    <div data-image-reveal="" class="process_left_cover">
      <div data-image-cover="" class="g_image_cover"></div>
      <img
        src=""
        loading="lazy"
        data-image=""
        alt="A black and white image of an architect overseeing the architectural site"
        class="process_left_image"
      >
    </div>
    <div class="process_left_collection w-dyn-list">
      <div role="list" class="process_left_list w-dyn-items">
        <!-- loop area -->
        <div role="listitem" class="process_left_item u-text-main w-dyn-item">
          <div class="process_left_contain">
            <div class="process_left_animate">
              <div data-process-item="" class="process_left_index">
                (0<span
                  data-process-value=""
                  class="process_left_value"
                  >0</span
                >)
              </div>
              <div class="process_left_title">Sketch Design</div>
            </div>
          </div>
          <div class="process_left_line"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="w-node-_76f99075-8b04-0f10-3283-03423b0659c6-5ee71fd0" class="process_aside_wrap">
    <p class="process_aside_paragraph u-text-h3 u-sr-only">
      <span class="process_aside_span">Our</span> approach at OH Architecture is designed to make your journey from
      concept to completion as smooth and enjoyable as possible.<br>
      <span aria-hidden="" class="u-splittext-spacer"> </span>With our 6-stages plan, we prioritize clarity,
      collaboration, and your unique vision. Each stage is crafted to keep you informed, inspired, and involved.<br>
    </p>
  </div>
</section>
{% schema %}
{
  "name": "New collection",
  "blocks": [{ "type": "@app" }, { "type": "_each-collection" }],
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme" // ridcoder,
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "New collection", //ridcoder
      "blocks": [
        {
          "type": "_each-collection"
        },
        {
          "type": "_each-collection"
        },
        {
          "type": "_each-collection"
        }
      ]
    }
  ]
}
{% endschema %}
