{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section
  class="fleishigs container-fluid group flex md:flex-col section-{{ section.id }}-padding"
  style="--highlight-color:#FF4411"
>
  <div class="w-[61.625%] overflow-hidden md:w-full" style="border-radius:0px">
    <div
      class="splide z-10 h-[900px] overflow-hidden md:aspect-auto md:w-auto md:rounded-[2rem] sm:h-[540px]"
      aria-label="Featured information"
    >
      <div class="splide__track">
        <ul class="splide__list">
          {% content_for 'blocks' %}
        </ul>
      </div>
      <ul class="splide__pagination bottom-15 left-15 right-auto text-white md:bottom-10 md:left-5"></ul>
    </div>
  </div>
  <div class="relative w-[45.75%] overflow-hidden md:w-full" style="border-radius:0px">
    <div
      class="h-[900px] overflow-hidden md:h-[647px] md:w-full sm:h-[320px]"
      style="transform:translateX(100%) translateZ(0)"
    >
      <div class="h-full">
        <!-- image loop -->
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Slider",
  "blocks": [{ "type": "@app" }, { "type": "_slide-item" }],
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme" // ridcoder,
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Slider", //ridcoder
      "blocks": []
    }
  ]
}
{% endschema %}
